In [2]:
#Импортируем таблицы в список res[]
import pandas as pd
import os

files = os.listdir('D:/Course_Paper/DESC_OPT') #список файлов в папке folder

res = []
for file in files:
     #файл - только название файла. Поэтому нужно добавить еще путь к нему
    res.append(pd.read_csv('D:/Course_Paper/DESC_OPT/'+file, delimiter=";", encoding='latin-1'))

In [3]:
l=len(res)

In [4]:
common_table=res[0]
for i in range(1,l):
    common_table=pd.concat([common_table, res[i]])

In [5]:
columns=['REFERENCE_DATE','CONTRACT','FUT_CONTR','STRIKE','PUT','THEORPRICE','VOLAT','BASEGOBUY']

In [6]:
options=common_table[columns]

In [7]:
options

,REFERENCE_DATE,CONTRACT,FUT_CONTR,STRIKE,PUT,THEORPRICE,VOLAT,BASEGOBUY
0,2016-07-01,BR-8.16M260716CA 38,BR-8.16,38.0,C,11.82,46.29193,4474.26
1,2016-07-01,BR-8.16M260716CA 46,BR-8.16,46.0,C,4.38,38.26742,3075.90
2,2016-07-01,BR-8.16M260716CA 47,BR-8.16,47.0,C,3.62,37.75195,2624.05
3,2016-07-01,BR-8.16M260716CA 48,BR-8.16,48.0,C,2.94,37.32062,2159.12
4,2016-07-01,BR-8.16M260716CA 49,BR-8.16,49.0,C,2.33,36.96086,1721.80
...,...,...,...,...,...,...,...,...
1553,2020-02-11,VTBR-9.20M160920CA10750,VTBR-9.20,10750.0,C,9.00,45.58581,8.85
1554,2020-02-11,VTBR-9.20M160920CA5250,VTBR-9.20,5250.0,C,271.00,30.27834,267.33
1555,2020-02-11,VTBR-9.20M160920CA5750,VTBR-9.20,5750.0,C,153.00,30.46863,152.36
1556,2020-02-11,VTBR-9.20M160920PA2250,VTBR-9.20,2250.0,P,12.00,49.84617,11.05
1557,2020-02-11,VTBR-9.20M160920PA2500,VTBR-9.20,2500.0,P,17.00,46.23786,15.92

In [8]:
type(options.iloc[0,7])

numpy.float64

In [9]:
options.iloc[:,0]=pd.to_datetime(options.iloc[:,0],format='%Y-%m-%d')

C:\Users\800G1\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [10]:
options.to_csv(r'D:/Course_Paper/options_common_table_0304.csv')

In [11]:
#Импортируем файлы, содержащие информацию об expiration date
addfiles = os.listdir('D:/Course_Paper/RISK_OPT') #список файлов в папке folder

folder = []
for addfile in addfiles:
     #файл - только название файла. Поэтому нужно добавить еще путь к нему
    folder.append(pd.read_csv('D:/Course_Paper/RISK_OPT/'+addfile, delimiter=";", encoding='latin-1'))

In [12]:
common_table_risk=folder[0]
for i in range(1,len(folder)):
    common_table_risk=pd.concat([common_table_risk, folder[i]])

In [13]:
cols=['REFERENCE_DATE','EXP_DATE','TICKER','IM_NOTCOVSELL','IM_COVSELL','IM_BUY']

In [14]:
options_risk=common_table_risk[cols]

In [15]:
options_risk

,REFERENCE_DATE,EXP_DATE,TICKER,IM_NOTCOVSELL,IM_COVSELL,IM_BUY
0,2016-07-04,26-JUL-16,BR-8.16M260716CA 38,4506.46,899.76,4482.75
1,2016-07-04,26-JUL-16,BR-8.16M260716CA 39,4504.49,1080.39,4480.76
2,2016-07-04,26-JUL-16,BR-8.16M260716CA 40,4504.11,1269.00,4464.58
3,2016-07-04,26-JUL-16,BR-8.16M260716CA 41,4498.45,1459.86,4425.91
4,2016-07-04,26-JUL-16,BR-8.16M260716CA 42,4495.65,1655.36,4332.74
...,...,...,...,...,...,...
12631,2020-02-11,16-SEP-20,VTBR-9.20M160920PA8750,927.15,107.11,956.46
12632,2020-02-11,16-SEP-20,VTBR-9.20M160920PA9000,927.79,97.80,958.45
12633,2020-02-11,16-SEP-20,VTBR-9.20M160920PA9250,927.64,89.54,960.71
12634,2020-02-11,16-SEP-20,VTBR-9.20M160920PA9500,927.67,82.36,962.41
12635,2020-02-11,16-SEP-20,VTBR-9.20M160920PA9750,927.83,81.41,963.67

In [16]:
options_risk.iloc[:,0]=pd.to_datetime(options_risk.iloc[:,0],format='%Y-%m-%d')
options_risk.iloc[:,1]=pd.to_datetime(options_risk.iloc[:,1],format='%d-%b-%y')

C:\Users\800G1\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [17]:
options_risk.to_csv(r'D:/Course_Paper/options_risk_common_table_0304.csv')